.navhead{

font:Times New Roman;



}
.flex-container{
display:flex;
flex-direction:row;
flex-flow:row wrap;
justify-content:center;
height:



}
.flex-box{

margin:10px;
padding:10px;


.spons{
display: block;
margin:auto;

}

}
.fleximage{

margin:10px;
padding:10px;
height:350px;
width:390px;
border-radius:50%


}

.fleximage:hover{
opacity:0.5;
margin:10px;
padding:10px;
height:350px;
width:390px;
border-radius:50%


}



}

.flex-head{
position:relative;
display:block;
margin:auto;
left:190px;;
color:#FDFEFE;
}

.social-icon{

width: 40px;
    height: 40px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: #838383;
    border-radius: 50%;
    border: 1px solid #333;

}
@media screen and (min-width: 992px){
.facebook{
margin-left:540px;


}}
@media screen and (min-width: 768px){
.facebook{
margin-left:350px;


}}


.social-icon:hover{

background-color:blue;

}
#social-icon{

text-align:center;
line-height:45px;
}
.mediarow{




}
.b_logo{
display:block;
margin:auto;



}
.comm{
display:block;
height:500px;
width:400px;

margin:auto;


}
#standout{
text-align:center;


}
